h3{
    background-color: bisque;
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
    padding: 5px;
}
p{
   background-color: brown;
   color: white;
   border: 2px solid darkcyan;
   padding: 10px; 
   height: 100px;
}
.header ul li{
    display: inline;
    padding: 5px;
    background-color: aquamarine;
    margin-left: 40px;
    

}
.header ul{
    margin-left: 50%;
    text-decoration: none;
}
.social{
    text-decoration:none;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}
